nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    background-color: #003366;
    padding: 0;
    margin: 0;
  }
  
  nav li {
    margin: 0 15px;
  }
  
  nav a {
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    display: block;
  }
  
  nav a:hover {
    background-color: #0055aa;
    transition: 0.3s;
  }
  
  nav a:active {
    background-color: #001f3f;
  }

  body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    background-color: #f4f4f4;
  }
  
  header {
    background-color: #0066cc;
    color: white;
    padding: 1em;
    text-align: center;
  }
  
  footer {
    background-color: #003366;
    color: white;
    text-align: center;
    padding: 1em;
  }
  
  section.noticies {
    background: white;
    padding: 2em;
    margin: 1em;
  }

  section.noticies {
    background-image: url('../img/camp.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    color: white;
  }
  
  @media (max-width: 768px) {
    nav ul {
      flex-direction: column;
      align-items: center;
    }
  
    header, footer {
      text-align: center;
    }
  
    article, section {
      margin: 0.5em;
    }
  }
